body{
    margin: 0;
    padding: 0;
    background-image: url("https://scontent.fhan3-2.fna.fbcdn.net/v/t1.6435-9/65467832_2501684983393094_4755748374110535680_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=lo7Ld_ulCgIAX80YGgH&tn=Z_xVlh0_eaYtI83i&_nc_ht=scontent.fhan3-2.fna&oh=00_AfAJsBz_hLT8Oj33yUIO-hyoTaWxBx4Rx97gOSyFiERJ9A&oe=63BD8EA3");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
.nav{
    overflow: hidden;
    position: fixed ;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(215,221,242,1) 0%, rgba(43,46,50,1) 100%);
}
.nav-list{
    list-style: none;
    background: radial-gradient(circle, rgba(215,221,242,1) 0%, rgba(43,46,50,1) 100%);

    position: fixed;
    box-shadow: 5px 5px 5px #aaaaaa;
    margin-top: 64px;
    left: -25rem;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-out;
}
.nav  a{
    float: left;
    padding: 16px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(252, 249, 249);
    font-size: 17px;
    letter-spacing: 2px;
}
.nav  i{
    margin-right: 4px;
}


.active{
    background-color: rgb(11, 103, 68);
}
.nav a:hover{
    color: rgb(29, 51, 111);
    background-color: rgb(11, 103, 68);

}
#d1{
    padding-top: 50px;
}
.row{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
}
.toggle1{
    left: -2rem;
}
.toggle{
    
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    margin: 20px 20px;
    padding: 0;
    width: 25px;
    height: 25px;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
}
.line {
    width: 100%;
    height: 4px;
    border-radius:5px;
    background-color: rgb(0, 98, 34);
    transition: 0.2s ease-out;
  }
  

.toggle-menu {
    display: flex;
    background-color: white;
}
.toggle-menu .line1 {
    background-color: rgb(0, 98, 34);
    transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}
.toggle-menu .line2 {
    display: none;
}
.toggle-menu .line3 {
    background-color: rgb(0, 98, 34);
    transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}
.nav-link {
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    padding-bottom: 0.4rem;
  }
.nav-list-item {
text-align: center;
margin-bottom: 40px;
text-decoration: none;
}
.nav-link::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(16, 11, 11);
    transform: scaleX(0);
    transition: 0.4s ease-in-out;
    transform-origin: left;
  }
  .nav-link:hover::before {
    transform: scaleX(1);
  }
  #div1{
    width: 500px;
    height: 800px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 5%;
    color: white;
    
  }
  #div1 h1 h5{
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-size: 200px;
  }
  img{
    padding-top: 30px;
    width: 200px;
    border-radius: 50%;
  }
  #div1 ul li{
    display: inline-block;
    color: white;
    
    margin: 15px;
  
  }
  ul li a{
    font-size: 60px;
    color: white;
  }
  ul li a :hover{
    color: #b1abab;
  }
@media screen and (min-width: 720px) {
    .toggle{
        display: none;
    }
    .nav-list{
        display: none;
    }
  }
  
@media screen and (max-width: 720px) {
    .nav{
        display: none;
      }
    .toggle{
        display: flex;
    }
  }
  